{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">

        <h1>#{{ ticket.idTicket }} - {{ ticket.Libelle }}</h1>

        <ul class="nav nav-tabs">
            <li class="active">
                <a  href="#info" data-toggle="tab">Informations du ticket</a>
            </li>
            <li><a href="#historique" data-toggle="tab">Historique</a>
            </li>
            <li><a href="#commentaire" data-toggle="tab">Commentaires</a>
            </li>
            <li><a href="#plage_travail" data-toggle="tab">Plage de travail</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <div class="row">
                    <div class="col-md-2"><b>Projet : </b></div>
                    <div class="col-md-8">{{ ticket.getIdProjet().getLibelle() }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Importance : </b></div>
                    <div class="col-md-8">{{ ticket.getIdDegreImportance().getLibelle() }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Statut : </b></div>
                    <div class="col-md-8">
                        <table>
                            <tr>
                                <td><div class="color_statut" style="background-color:{{ ticket.getIdStatut().getCouleur() }}"></div></td>
                                <td>{{ ticket.getIdStatut().getlibelle() }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
                {% if ticket.getMiseAJour() %}
                <div class="row">
                    <div class="col-md-2"><b>Mise à jour : </b></div>
                    <div class="col-md-8">{{ ticket.getMiseAJour().getVersion() }} prévue le {{ ticket.getMiseAJour().getDate()|date('d/m/Y à H:i') }}</div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-2"><b>Utilisateurs : </b></div>
                    <div class="col-md-8"> {% for utilisateur in ticket.getUtilisateurs %} {{ utilisateur.username }} <br/> {% endfor %}</div>
                </div>

                <hr/>

                <b> Description : </b>
                <div class="ticket_desc">
                    {{ ticket.getDescription()|raw }}
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-2"><b>Tags : </b></div>
                    <div class="col-md-8">
                        {% for tags in  ticket.getTagsTag %}
                            {{ tags.getLibelle() }}{% if tags != ticket.getTagsTag|last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="historique">
                <table class="table table-striped">
                    <thead>
                    <th>Date</th>
                    <th>Utilisateur</th>
                    <th>Statut du ticket</th>
                    <th>Remarque</th>
                    </thead>
                    <tbody>
                    {% for suivi in suivis_ticket %}
                        <tr>
                            <td>{{ suivi.getDate()|date('d/m/Y à H:i:s') }}</td>
                            <td>{{ suivi.getIdUtilisateur().username }}</td>
                            <td>{{ suivi.getIdStatut().getLibelle() }}</td>
                            <td>{{ suivi.getRemarque() }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="commentaire">
                    {% for commentaire in commentaires_ticket %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-2"><b>{{ commentaire.getUtilisateur().username }}</b><br/>le {{ commentaire.getDate()|date('d/m/Y à H:i:s') }}</div>
                            <div class="col-md-8">{{ commentaire.getRemarque()|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="plage_travail">
                {% for plage_travail in list_plage_travail %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-2"><b>{{ plage_travail.getDateDebut()|date('d/m/Y à H:i:s') }}<br/>{{ plage_travail.getDateFin()|date('d/m/Y à H:i:s') }}</b></div>
                            <div class="col-md-2">{{ plage_travail.getUtilisateur().username }} </div>
                            <div class="col-md-8">{{ plage_travail.getRemarque()|raw }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>



    </div>

    <div class="bottom_bar">
        <a href="{{ path('ticket_index') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Retour à la liste</a>
        <a href="{{ path('ticket_edit', { 'idTicket': ticket.idTicket }) }}"><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-primary supprimer-button" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
